<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <title>Counter</title>
</head>
<body>
    <h1 class="col-6 offset-3 text-center">Welcome to the Great Number Game</h1>
    <p class="col-6 offset-3 text-center">I am thinking of a number between 1 and 100</p>
    <p class="col-6 offset-3 text-center">Take a guess!</p>
    <form class="col-6 offset-3 text-center" action="/check_number" method="post">
        <label for="number">Choose a number (1-100):</label>
        <input type="text" class="" name="number">
        <input class="btn btn-primary" type="submit" value="Guess">
    </form>
</body>
</html>